
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@theme {
  --color-golden0: #D4A32A;
  --color-golden1: #E8B63A;
  --color-background: #f4f8f7;
  --color-surface: #e9f1f0;
  --color-primary: #2d4a47;
  --color-secondary: #5c7f7b;
  --color-accent-mint: #cce7e1;
  --color-accent-ice: #d6e6f2;
  --color-text-main: #1a2624;
  --color-text-muted: #556663;
  --color-border: #dbe5e3;
  --color-camel:#B8864A;
  --color-warmCream:#F9EFE4;
}

@theme {
  --breakpoint-330: 330px;
  --breakpoint-400: 400px;
  --breakpoint-500: 500px;
  --breakpoint-600: 600px;
  --breakpoint-700: 700px;
  --breakpoint-800: 800px;
  --breakpoint-900: 900px;
  --breakpoint-1000: 1000px;
  --breakpoint-1100: 1100px;
  --breakpoint-1200: 1200px;
  --breakpoint-1300: 1300px;
  --breakpoint-1400: 1400px;
  --breakpoint-1500: 1500px;
  --breakpoint-1600: 1600px;
}

html, body{
  scroll-behavior: smooth;
}